@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/*--------general setups--------*/

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

main {
    background-repeat: no-repeat;
    background-image: url("../images/bg-header-desktop.png");
}

@media (max-width: 375px) {
    main {
        background-image: url("../images/bg-header-mobile.png");
    }
}

/*--------individual setup----------*/

.description-download-area {
    display: flex;
    padding: 150px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 375px) {
    .description-download-area {
        padding: 100px 0 0 0;
    }
}

.description-download-area h2 {
    margin: 40px 0 0 0;
    font-size: 41px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

@media (max-width: 375px) {
    .description-download-area h2 {
        text-align: center;
        font-size: 35px;
    }
}

#page-header-logo {
    width: 100px;
}

@media (max-width: 375px) {
    #page-header-logo {
        margin-top: 30px;
        width: 120px;
    }
}

#paragraph {
    margin-top: 10px;
    width: 650px;
    font-size: 18px;
    text-align: center;
    color: var(--Grayish-Blue);
}

@media (max-width: 375px) {
    #paragraph {
        width: auto;
    }
}

#link-1 {
    display: flex;
    width: 200px;
    height: 45px;
    margin: 30px 0 0 -220px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 5px 8px hsl(171, 78%, 64%);
    border-bottom: 2px solid hsl(171, 68%, 35%);
    background-color: var(--Strong-Cyan);
}

@media (max-width: 375px) {
    #link-1 {
        width: 90%;
        height: 50px;
        margin: 30px 0 0 0;
    }
}

#link-1:hover {
    cursor: pointer;
}

#link-1 a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#link-2 {
    display: flex;
    width: 200px;
    height: 45px;
    margin: -45px 0 0 220px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 5px 8px hsl(233, 78%, 64%);
    border-bottom: 2px solid hsl(233, 68%, 35%);
    background-color: var(--Light-Blue);
}

@media (max-width: 375px) {
    #link-2 {
        width: 90%;
        height: 50px;
        margin: 30px 0 0 0;
    }
}

#link-2:hover {
    cursor: pointer;
}

#link-2 a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/*-------snnipets area setup--------*/

.snippets-area {
    margin: 150px auto 0 auto;
}

.snippets-area h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

@media (max-width: 375px) {
    .snippets-area h2 {
        font-size: 35px;
    }
}

#snippets-paragraph {
    margin: 10px auto 0 auto;
    width: 650px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--Grayish-Blue);
}

@media (max-width: 375px) {
    #snippets-paragraph {
        width: auto;
    }
}

.snippets-area img {
    width: 650px;
    margin: 50px auto 0 auto;
}

@media (max-width: 375px) {
    .snippets-area img {
        width: 90%;
        margin: 50px 5% 0 5%;
    }
}

.features-area {
    width: 350px;
    margin: -450px auto 0 800px;
}

@media (max-width: 375px) {
    .features-area {
        width: 90%;
        margin: 50px 5% 0 5%;
        text-align: center;
    }    
}

.features-area h3 {
    margin: 50px 0 0 0;
    font-size: 18px;
    color: var(--Dark-Grayish-Blue);
}

@media (max-width: 375px) {
    .features-area h3 {
        font-size: 25px;
    }   
}

.features-area p {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: var(--Grayish-Blue);
}

/*------acces-area setup--------*/

.access-area {
    margin-top: 210px;
    text-align: center;
}

@media (max-width: 375px) {
    .access-area {
        margin-top: 150px;
    }   
}

.access-area h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

@media (max-width: 375px) {
    .access-area h2 {
        font-size: 35px;
    }   
}

.access-area p {
    margin: 10px auto 80px auto;
    width: 600px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--Grayish-Blue);
}

@media (max-width: 375px) {
    .access-area p {
        width: auto;
        margin: 10px auto 50px auto;
        font-size: 18px;
    }   
}

.access-area img {
    width: 700px;
}

@media (max-width: 375px) {
    .access-area img {
        width: 90%;
        margin: 0 5% 0 5%;
    }   
}

/*-----workflow-area setup-------*/

.workflow-area {
    margin-top: 100px;
    text-align: center;
}

.workflow-area h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

#paragraph-1 {
    margin: 10px auto 0 auto;
    width: 650px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--Grayish-Blue);
}

@media (max-width: 375px) {
    #paragraph-1 {
        width: auto;
        font-size: 18px;
    }   
}

.workflow-features {
    display: flex;
    width: 90%;
    margin: 90px 5% 0 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 375px) {
    .workflow-features {
        flex-direction: column;
    }
}

.workflow-features div {
    width: 300px;
    margin-right: 20px;
}

@media (max-width: 375px) {
    .workflow-features div {
        margin-right: 0;
    }
    
    .workflow-features div img {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.workflow-features div h3 {
    color: var(--Dark-Grayish-Blue);
}

.workflow-features div p {
    font-size: 15px;
    color: var(--Grayish-Blue);
}

.logos-area {
    display: flex;
    margin-top: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 375px) {
    .logos-area {
        margin-top: 20;
        flex-direction: column;
    }
}

.logos-area img {
    margin-right: 50px;
}

@media (max-width: 375px) {
    .logos-area img {
        margin-top: 50px;
        margin-right: 0;
    }   
}

#ibm {
    width: 100px;
}

/*-------download area setup-------*/

.download-footer {
    margin-top: 150px;
    text-align: center;
}

.download-footer h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);    
}

@media (max-width: 375px) {
    .download-footer h2 {
        font-size: 35px;
    }   
}

.download-footer p {
    margin: 10px auto 0 auto;
    width: 650px;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: var(--Grayish-Blue);
}

@media (max-width: 375px) {
    .download-footer p {
        width: auto;
        font-size: 18px;
    }   
}

#link-3 {
    display: flex;
    width: 200px;
    height: 45px;
    margin: 60px auto 0 450px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 5px 8px hsl(171, 78%, 64%);
    border-bottom: 2px solid hsl(171, 68%, 35%);
    background-color: var(--Strong-Cyan);
}

@media (max-width: 375px) {
    #link-3 {
        width: 90%;
        height: 50px;
        margin: 50px 5% 0 5%;
    }   
}

#link-3:hover {
    cursor: pointer;
}

#link-3 a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#link-4 {
    display: flex;
    width: 200px;
    height: 45px;
    margin: -46px auto 0 670px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 5px 8px hsl(233, 78%, 64%);
    border-bottom: 2px solid hsl(233, 68%, 35%);
    background-color: var(--Light-Blue);
}

@media (max-width: 375px) {
    #link-4 {
        width: 90%;
        height: 50px;
        margin: 30px 5% 0 5%;
    }   
}

#link-4:hover {
    cursor: pointer;
}

#link-4 a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/*-----contact area setup-------*/

.contact-area {
    display: flex;
    width: 100%;
    margin-top: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(239, 239, 245);
}

@media (max-width: 375px) {
    .contact-area {
        height: 500px;
        flex-direction: column;
    }  
}

.contact-area img {
    width: 50px;
}

.contact-area ul {
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

@media (max-width: 375px) {
    .contact-area ul {
        flex-direction: column;
    }  
}

.contact-area ul li {
    margin-right: 50px;
}

@media (max-width: 375px) {
    .contact-area ul li {
        margin-right: 40px;
        margin-top: 20px;
    }   
}

.list-links {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
}

.media-icons-area a {
    margin-right: 40px;
    color: var(--Dark-Grayish-Blue);
}

@media (max-width: 375px) {
    .media-icons-area a {
        margin-right: 20px;
    }  
}

.contact-area a:hover {
    color: var(--Strong-Cyan);
}
