@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/*--------general setups--------*/

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

body #image-mobile-top {
    width: 100%;
}

main {
    position: absolute;
    display: flex;
    top: 25%;
    left: 5%;
    width: 90%;
    flex-direction: column;
}

/*------individual setups--------*/

#page-header-logo {
    padding: 0 35%;
    width: 30%;
}

.description-download-area {
    display: flex;
    margin-top: 20%;
    flex-direction: column;
    text-align: center;        
}

.description-download-area h2 {
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.description-download-area #paragraph {
    margin-top: 0;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.description-download-area a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.description-download-area #link-1 {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(171, 67%, 22%);
    box-shadow: 1px 8px 20px hsl(171, 77%, 83%);
    background-color: var(--Strong-Cyan);
}

.description-download-area #link-2 {
    display: flex;
    height: 50px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(233, 45%, 36%);
    box-shadow: 1px 8px 20px hsl(232, 26%, 77%);
    background-color: var(--Light-Blue);
}

.snippets-area {
    display: flex;
    margin-top: 40%;
    flex-direction: column;
    text-align: center;
}

.snippets-area h2 {
    margin: 0;
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
}

.snippets-area #snippets-paragraph {
    margin-top: 20px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.snippets-area img {
    margin-top: 40px;
}

.snippets-area h3 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
}

.snippets-area p {
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.access-area {
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    text-align: center;
}

.access-area h2 {
    margin-bottom: 0;
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.access-area p {
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.workflow-area {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.workflow-area img {
    margin: auto;
    width: 10%;
}

.workflow-area h2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.workflow-area #paragraph-1 {
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.workflow-area h3 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
}

.workflow-area p {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.logos-area {
    display: flex;
    margin: 50px auto 90px auto;
    flex-direction: column;
}

.logos-area img {
    width: 80%;
    margin: 20px auto;
}

.logos-area #ibm {
    width: 70%;
}

.download-footer {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.download-footer h2 {
    font-size: 34px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.download-footer p {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);    
}

.download-footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.download-footer #link-3 {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(171, 67%, 22%);
    box-shadow: 1px 8px 20px hsl(171, 77%, 83%);
    background-color: var(--Strong-Cyan);
}

.download-footer #link-4 {
    display: flex;
    height: 50px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(233, 45%, 36%);
    box-shadow: 1px 8px 20px hsl(232, 26%, 77%);
    background-color: var(--Light-Blue);
}
