@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/*--------general setups--------*/

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.image-mobile-top {
    margin: 0;
    width: 100%;
}

.image-desktop {
    display: none;
}

@media (min-width: 768px) {
    .image-mobile-top {
        display: none;
    }

    .image-desktop {
        display: flex;
        width: 100%;
    }
}

main {
    position: absolute;
    display: flex;
    top: 25%;
    left: 0;
    width: 100%;
    flex-direction: column;
}

@media (min-width: 768px) {
    main {
        top: 15%;
        left: 15%;
        width: 70%;
    }
}

/*------individual setups--------*/

#page-header-logo {
    padding: 0 35%;
    width: 30%;
}

@media (min-width: 768px) {
    #page-header-logo {
        padding: 0 40%;
        width: 20%;
    }
}

.description-download-area {
    display: flex;
    width: 90%;
    margin: 10% 5% 0;
    flex-direction: column;
    text-align: center;        
}

@media (min-width: 768px) {
    .description-download-area {
        width: 100%;
        margin: 0;
    }
}

.description-download-area h2 {
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.description-download-area #paragraph {
    margin-top: 0;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.description-download-area a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.description-download-area #link-1 {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(171, 67%, 22%);
    box-shadow: 1px 8px 20px hsl(171, 77%, 83%);
    background-color: var(--Strong-Cyan);
}

.description-download-area #link-1:hover {
    cursor: pointer;
}

.description-download-area #link-2 {
    display: flex;
    height: 50px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(233, 45%, 36%);
    box-shadow: 1px 8px 20px hsl(232, 26%, 77%);
    background-color: var(--Light-Blue);
}

.description-download-area #link-2:hover {
    cursor: pointer;
}

.snippets-area {
    display: flex;
    width: 90%;
    margin: 40% 5% 0;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    .snippets-area {
        width: 100%;
        margin: 20% 0 0;
    }
}

.snippets-area h2 {
    margin: 0;
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
}

.snippets-area #snippets-paragraph {
    margin-top: 20px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.snippets-area img {
    margin-top: 40px;
}

.snippets-area h3 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
}

.snippets-area p {
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.access-area {
    display: flex;
    width: 90%;
    margin: 30% 5% 0;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    .access-area {
        width: 100%;
        margin: 15% 0 0;
    }
}

.access-area h2 {
    margin-bottom: 0;
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.access-area p {
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.workflow-area {
    display: flex;    
    width: 90%;
    margin: auto 5% 0;
    flex-direction: column;
    text-align: center;
}

.workflow-area img {
    margin: auto;
    width: 10%;
}

.workflow-area h2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.workflow-area #paragraph-1 {
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.workflow-area h3 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
}

.workflow-area p {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 17.5px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);
}

.logos-area {
    display: flex;
    width: 90%;
    margin: 50px auto 90px auto;
    flex-direction: column;
}

.logos-area img {
    width: 40%;
    margin: 20px auto;
}

.logos-area #ibm {
    width: 30%;
}

.download-footer {
    display: flex;
    width: 90%;
    margin: auto 5%;
    flex-direction: column;
    text-align: center; 
}

.download-footer h2 {
    font-size: 34px;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600
}

.download-footer p {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--Dark-Grayish-Blue);    
}

.download-footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.download-footer #link-3 {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(171, 67%, 22%);
    box-shadow: 1px 8px 20px hsl(171, 77%, 83%);
    background-color: var(--Strong-Cyan);
}

.download-footer #link-3:hover {
    cursor: pointer;
}

.download-footer #link-4 {
    display: flex;
    height: 50px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid hsl(233, 45%, 36%);
    box-shadow: 1px 8px 20px hsl(232, 26%, 77%);
    background-color: var(--Light-Blue);
}

.download-footer #link-4:hover {
    cursor: pointer;
}

.contact-area {
    display: flex;
    width: 100%;
    margin-top: 40%;
    flex-direction: column;
    background-color: hsl(0, 0%, 97%);
}

@media (min-width: 768px) {
    .contact-area {
        margin: 20% 0 0;
    }
}

.contact-area img {
    width: 15%;
    margin: 40px auto 0 auto;
}

.contact-area ul {
    margin: auto;
}

.contact-area li {
    margin: 30px 0 0 -40px;
    list-style: none;
    text-align: center;  
    font-size: 17.5px;
    color: var(--Dark-Grayish-Blue);     
}

.contact-area li:hover {
    cursor: pointer;
    color: var(--Strong-Cyan);
}

.icons-area {
    display: flex;
    justify-content: center;
}

.icons-area img {
    width: 40%;
    margin: 30px;
}

