@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/*--------general setups--------*/

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

main {
    background-repeat: no-repeat;
    background-image: url("../images/bg-header-desktop.png");
}

/*--------individual setup----------*/

.description-download-area {
    display: flex;
    padding: 150px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-download-area h2 {
    margin: 40px 0 0 0;
    font-size: 41px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

#page-header-logo {
    width: 100px;
}

#paragraph {
    margin-top: 10px;
    width: 650px;
    font-size: 18px;
    text-align: center;
    color: var(--Grayish-Blue);
}

#link-1 {
    display: flex;
    width: 200px;
    height: 45px;
    margin: 30px 0 0 -220px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 5px 8px hsl(171, 78%, 64%);
    border-bottom: 2px solid hsl(171, 68%, 35%);
    background-color: var(--Strong-Cyan);
}

#link-1 a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#link-2 {
    display: flex;
    width: 200px;
    height: 45px;
    margin: -45px 0 0 220px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 5px 8px hsl(233, 78%, 64%);
    border-bottom: 2px solid hsl(233, 68%, 35%);
    background-color: var(--Light-Blue);
}

#link-2 a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/*-------snnipets area setup--------*/

